@{
    ViewData["Title"] = "Home Page";
}


    <div class="text-center">

        <h1 class="display-4">Bienvenue sur le Vaccinator</h1>
        <p>Veuillez aller sur cette page: <a class="nav-link text-dark" asp-area="" asp-controller="Enregistrement" asp-action="Index">Enregistrement</a></p>
    </div>