@{
    ViewData["Title"] = "Index";
}

<h2>Bonjour!</h2>

<p>Merci de vous enregistrer</p>

<div>
    <form>
        <p>Nom : <input id="input_nom" type="text" /></p>
        <p>Prénom : <input id="input_prenom" type="text" /></p>
        <p>Sexe : <input id="checkbox_homme" type="checkbox">Homme</input> <input id="checkbox_femme" type="checkbox">Femme</input></p>
        <p>Date de naissance : <input id="input_date" type="date" /></p>
        <input id="btn_enregistrement" type="submit" value="Valider" />
    </form>
</div>