@{
    ViewData["Title"] = "Index";
}

<h2>Bonjour!</h2>

<p>Merci de vous enregistrer</p>

<div>
    <form>
        <p>
            Nom :
            <br>
            <input id="input_nom" type="text" />
        </p>
        <p>
            Prénom :
            <br>
            <input id="input_prenom" type="text" />
        </p>
        <p>
            Sexe :
            <br>
            <input id="radio_homme" type="radio" name="Sexe"> Homme
            <br>
            <input id="radio_femme" type="radio" name="Sexe"> Femme
        </p>
        <p>
            Date de naissance :
            <br>
            <input id="input_date" type="date" />
        </p>
        <p>
            Vous êtes:
            <br>
            <input id="radio_resident" type="radio" name="statut"> Résident
            <br>
            <input id="radio_personnel" type="radio" name="statut"> Personnel
        </p>
        <input id="Valider" type="submit" value="Valider" /> <input id="Annuler" type="reset" value="Annuler" />
    </form>
</div>
