@model MvcType.Models.Type

@{
    ViewData["Title"] = "Create";
}

<h1>Créer</h1>

<h4>Type</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="maladie" class="control-label"></label>
                <input asp-for="maladie" class="form-control" />
                <span asp-validation-for="maladie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Valider" class="btn btn-primary" />
                <input type="reset" value="Annuler" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Retour à la liste</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
