@model MvcType.Models.Type

@{
    ViewData["Title"] = "Delete";
}

<h1>Supprimer</h1>

<h3>Voulez-vous vraiment le supprimer?</h3>
<div>
    <h4>Type</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.maladie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.maladie)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="idType" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Retour à la liste</a>
    </form>
</div>
