@model MvcType.Models.Type

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Type</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.maladie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.maladie)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.idType">Modifier</a> |
    <a asp-action="Index">Retour à la liste</a>
</div>
